
body {
    background-color: blanchedalmond;
}
body{
    font-style: oblique;
  }
  
#border {
width: 350px;
padding: 10px;
border: 3px solid rgb(2, 2, 2);
margin: 0;
border-radius: 20%;
border-color: aqua;
}
#border {
display: flex;
justify-content: center;
align-items: center;
 }
#border {
position: absolute;
top: 25%;
right: 40%;
width: 450;
height: 45%;
}
/*body { 
    background-image: url("../imgs/gettyimages-165045331-612x612.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }*/
    #buttonposition{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        #buttonposition
  {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    